body {
    background-image: url("../images/white-waves.png");
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid #cccccc;
    color: #dddddd;
}

.header a {
    float: left;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-family: 'Georgia', 'Times New Roman', Times, serif; 
    line-height: 25px;
}

.logo {
    background: #4aaaa4;
    margin-left: 20%;
    color: white;
    font-size: 25px;
    font-weight: bolder;

}

.about {
    margin-left: 30%;
    font-size: 16px;
    color: #777777;
}

.contact {
    font-size: 16px;
    color: #777777;

}

.portfolio {
    font-size: 16px;
    color: #777777;
}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa4;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0px;
    padding-top: 18px;
    height: 25px;
}